---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="LAXIAN">
	<main>
		<img src="/assets/laxian-logo-transparent.png" alt="Logo" width="150" height="auto" />
		<h1><span class="text-gradient">LAXIAN</span></h1>
		<p class="instructions">
			<code>AI</code>-generated always-up-to-date prompt-generated!<br />
			<strong>We provide:</strong> all you need to build your IT career<br />
			<ul>
			  <li>Smart and efficient training</li>
			  <li>Fun quizzes and real-life labs</li>
			  <li>Mock interviews and preparing CVs</li>
			  <li>Assistance connecting with cool tech employers</li>
			</ul>
		<p class="instructions">
		 This course will teach you the skills you need to be a successful software engineer in the cloud era. You will learn about cloud computing, DevOps, and debugging, and you will gain hands-on experience with these technologies
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="./course"
				title="Courses"
				body="The Cloud - Up, Up, and Away!"
			/>
			<Card
				href="https://bard.google.com"
				title="DevOps - Breaking Down Silos"
				body="Continuous Integration and Continuous Deployment (CI/CD)"
			/>
			<Card
				href="https://bard.google.com"
				title="Containers and Orchestration - Unleashing the Power"
				body="AWS ECS, Azure Kubernetes Service, Google Kubernetes Engine"
			/>
			<Card
				href="https://bard.google.com"
				title="Big Data and Analytics - From Zero to Hero"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
