---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="">
	<main>
		<header>
			<img
				src="/assets/laxian-logo-transparent.png"
				alt="LAXIAN Logo"
				width="350"
				height="auto"
			/>
		</header>
		<!-- <h1><span class="text-gradient">LAXIAN</span></h1> -->
		<p class="instructions">
			<code>AI</code>-generated always-up-to-date dynamic user learning
			content!<br />
			<strong>We provide:</strong> all you need to build your IT career.<br
			/>
			<ul>
				<li>Smart and efficient training</li>
				<li>Fun quizzes and real-life labs</li>
				<li>Mock interviews and preparing CVs</li>
				<li>Assistance connecting with cool tech employers</li>
			</ul>
			<p class="instructions">Select a path from below to begin:</p>
			<ul role="list" class="link-card-grid">
				<Card
					href="./course"
					title="Level 1"
					body="The Cloud - Up, Up, and Away!"
				/>
				<Card
					href="https://bard.google.com"
					title="Level 2"
					body="DevOps - Breaking Down Silos"
				/>
				<Card
					href="https://bard.google.com"
					title="Zero to Hero"
					body="Azure Kubernetes Service, Google Kubernetes Engine"
				/>
				<Card
					href="https://bard.google.com"
					title="Advanced"
					body="Containers and Orchestration - Unleashing the Power"
				/>
			</ul>
		</p>
	</main>

	<style>
		header {
			display: flex;
			justify-content: center;
		}
		main {
			margin: auto;
			padding: 1.5rem;
			max-width: 60ch;
		}
		h1 {
			font-size: 3rem;
			font-weight: 800;
			margin: 0;
		}
		.text-gradient {
			background-image: var(--accent-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 400%;
			background-position: 0%;
		}
		.instructions {
			line-height: 1.6;
			margin: 1rem 0;
			border: 1px solid rgba(var(--accent), 25%);
			background-color: white;
			padding: 1rem;
			border-radius: 0.4rem;
			cursor: default;
		}
		.instructions code {
			font-size: 0.875em;
			font-weight: bold;
			background: rgba(var(--accent), 12%);
			color: rgb(var(--accent));
			border-radius: 4px;
			padding: 0.3em 0.45em;
		}
		.instructions strong {
			color: rgb(var(--accent));
		}
		.link-card-grid {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
			gap: 1rem;
			padding: 0;
		}
	</style>
</Layout>
